
/* =======================
   Normalize.css
   ======================= */

@import 'normalize.css';

/* =======================
   Page Styles
   ======================= */
body {
      padding: 0;
      box-sizing: border-box;
      font-family: "Raleway", Arial, sans-serif;
  }

  
       /* =======================
            Header/Nav
         ======================= */
.navigation-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 30px;
      margin-right:60px;
      margin-left: 60px;
}

.logo {
      max-width: 100%;
      height: auto;
}
  
  .links:hover {
      color: blue;
}

a {
      text-decoration: none;
      color: black;
      font-size: 16px;
      font-family: "Raleway", Arial, sans-serif;
      padding: 5px 15px;
      opacity: 0.7;
}
       /* =======================
            Section
         ======================= */
.search {
      margin-top: 30px;
      margin-right: 60px;
      margin-bottom: 30px;
      margin-left: 60px; 
}


       /* =======================
            Section/Aside
         ======================= */
.flex-container {
      display: flex;
      margin-top: 30px;
      margin-right:60px;
      margin-left: 60px;
}
 
.accommodations {
      display: flex;
      flex: 1;
      min-height: 100%;
      flex-direction: row;
      flex-wrap:wrap;
      justify-content: space-evenly;
      box-sizing: border-box;
      background-color: #f2f2f2;
      border-radius: 5px;
      padding: 15px 15px 15px 15px;
}
.heading {
      flex:1 0 100%
}
.sectionbox {
      background: white;
      border-radius: 5px;
      display: flex;
      flex 1: 0 20%;
      flex-direction: column;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      padding: 0px 15px 0px 15px;
}
.show_more {
      flex:2 0 100%
}

.most_popular {
      display:flex;
      flex: -1;
      min-height: 100%;
      flex-direction: column;
      flex-wrap:wrap;
      justify-content: center;
      box-sizing: border-box;
      background-color: #f2f2f2;
      border-radius: 5px;
      padding: 15px 15px 15px 15px;
}
.asidebox {
      background: white;
      border-radius: 5px;
      display: flex;
      flex 1: 0 20%;
      flex-direction: row;
      justify-content: center;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2) 
}
        /* =======================
            Section
         ======================= */
.activities {
   margin-top: 30px;
   margin-right:60px;
   margin-bottom:60px;
   margin-left: 60px;
}         
.activities-container {
      display: flex;
      flex: 1;
      min-height: 100%;
      flex-direction: column;
      flex-wrap:wrap;
      align-items: space-around;
      box-sizing: border-box;
      background-color: white;
}
.activitybox {
      background: white;
      border-radius: 5px;
      display: flex;
      flex 1: 0 20%;
      flex-direction: row; 
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2)  
}
        /* =======================
           Footer
         ======================= */       
.ft-main {
      box-sizing: border-box;
      font-family: "Raleway", Arial, sans-serif;
      margin: 0; 
      padding: 20px 28px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
}
.ft-main-item {
      padding: 20px;
      min-width: 20px;
}
   ul {
      list-style: none;
      padding-left: 0;
}
   footer {
      background-color: #F2F2F2;
      color: black;
      line-height: 1.5;
      display: flex;
      min-height: 100vh;
      flex-direction: row;
}
   footer a {
      text-decoration: none;
      color: black;
}
   a:hover {
      color: blue;
}
.container {
   flex: 1; 
}