
/* =======================
   Normalize.css
   ======================= */

@import 'normalize.css';

/* =======================
   Page Styles
   ======================= */
   .navbar {
      display: flex;
      justify-content: flex-start;
    }
    .nav-links {
      display: flex;
      justify-content: flex-end;
    }